:root {
  --bg-dark: hsl(240 9% 13%);
  --shadow: hsl(240 9% 5%);
  --text: hsl(240 10% 94%);
  --titles: hsl(240 10% 100%);
  --bg-light: hsl(240 9% 26%);
  --text-muted: hsl(240 10% 80%);
  --primary: hsl(224 38% 55%);
  --secondary: hsl(224 38% 70%);
  --danger: hsl(0 75% 60%);
  --warning: hsl(23 100% 63%);
  --success: hsl(98 42% 32%);
}

* {
  margin: 0px;
  padding: 0px; 
  border: 0px;
  font-size: 100%;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  color: inherit;
  background-color: inherit;
}

body {
  background-color: var(--bg-dark);
  font-size: 18px;
  line-height: 1.5;
  overflow-wrap: break-word;
  text-wrap: pretty;
  color: var(--text);
}

h1 {
  font-size: 36px;
  font-weight: 900;
}

h2 {
  font-size: 24px;
  font-weight: 800;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

h2 + h2 {
  margin-top: 8px;
}

h4 {
  font-weight: 900;
}

#viewport {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

header {
  z-index: 5;
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: var(--bg-light);
  box-shadow: 0px 8px 8px var(--shadow);
  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 48px;
  }
}

#search {
  width: 35em;
  border: 2px solid var(--secondary);
  border-radius: 50px;
  background-color: hsl(240 9% 85%);
  color: black;
  padding: 10px 12px;
}

.options {
  display: flex;
  justify-content: center;
  margin: 0;
}

button {
  padding: 18px 32px;
  margin: 0 24px;
  background-color: var(--primary);
  border-radius: 50px;
}

#sidebar {
  z-index: 5;
  grid-column: 1;
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 64px;
  background-color: var(--primary);
  border-right: 1px solid var(--shadow);
  div {
    margin: 24px;
  }
}

#body {
  grid-row: 2;
  grid-column: 2;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

#projects,
#info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 24px;
}

#projects {
  grid-column: 1;
}

.project,
.tile {
  display: grid;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 4px 4px 4px var(--shadow);
  background-color: var(--secondary);
  color: black;
  gap: 16px;
}

.project {
  grid-template-rows: min-content min-content 48px;
  border-left: 10px solid var(--warning);
  border-top: 1px solid white;
  border-right: 1px solid grey;
  width: 510px;
}

#info {
  grid-column: 2;
}

#announcements {
  margin-bottom: 8px;
}

.announcement {
  font-size: 95%;
}

.trend {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 16px;
  div {
    display: grid;
    grid-template-columns: 1fr;
    p + p {
      color: gray;
    }
  }
}

.profile {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
